
.DS_Store
*DS_Store*
.ipynb_checkpoints
*.ipynb_checkpoints*

*solution*
*OLD*
100ProgrammingExercises.txt

AdditionalResources.txt

*--DRAFT*


14-FinalProject/~$fedenergy1975-current.xlsx


09-Pandas/Pandas_intro-Copy1.ipynb
